.sec_sp {
  margin-bottom: calc(3rem + 5.128vw);
}

.table td,
.table th {
  color: var(--text-color);
}

.t_border {
  border-color: var(--pc2-rgb) !important;
}

.aboutme-p,
.service_p {
  font-size: 1.4rem;
}

.progress-title {
  font-size: 1.125rem;
  letter-spacing: 0.0625rem;
  margin: 15px 0 20px;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.progress {
  position: relative;
  height: 15px !important;
  border-radius: 10px;
  box-shadow: none;
  margin-bottom: 30px;
  overflow: visible;
  box-shadow: 0px 5px 9px 2px rgba(255, 255, 255, 0.584);
}

.progress .progress-bar {
  position: relative;
  background: var(--pc2-rgb);
  animation: animate-positive 2s;
  overflow: visible;
  opacity: 0.9;
}

.progress .progress-value-top {
  position: absolute;
  top: -3px;
  right: 4px;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  font-family: Roboto;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0%;
  }
}

@keyframes animate-positive {
  0% {
    width: 0%;
  }
}

.section-title {
  font-size: 45px;
}

.service__title {
  padding: 8px 0;
  border-bottom: solid 1.5px var(--pc2-rgb);
  font-size: 1.5rem;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.service-section .service-category-title {
  padding-bottom: 4px;
}

/*! CSS Used keyframes */

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
