section {
  flex: 1 0 auto;
  position: relative;
  width: 100%;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.h_img-wrap {
  height: 470px;
  width: 470px;
  margin-right: -10px;
  border: 2px solid var(--pc1-rgb);
  border-radius: 50%;
  background: radial-gradient(var(--pc2-rgb), var(--pc2-rgba));
  box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.629);
  margin: 46px 0 46px 0;
}

.h_img {
  padding-left: 20px;
  padding-bottom: 20px;
  height: 480px;
  width: 480px;
}

.intro-title {
  font-family: "Roboto";
  font-size: 50px;
}

.typewriter-text {
  font-family: "Roboto";
  font-weight: 100 !important;
}

.has-first-color {
  color: var(--primary-color);
}

.intro_sec {
  height: calc(100vh - 60px);
  min-height: 700px;
  height: 100vh;
  margin-top: -60px;
}

@media (max-width: 991.98px) {
  .intro_sec {
    display: block;
    height: auto !important;
  }

  .h_img-wrap {
    height: 373px;
    width: 373px;

    margin-bottom: 60px;
  }

  .h_img {
    padding-left: 30px;
    height: 370px;
    width: 370px;
  }
}

.intro_sec .text,
.intro_sec .h_bg-image {
  width: 50%;
}

@media (max-width: 440px) {
  .h_img-wrap {
    height: 300px;
    width: 300px;
    margin-bottom: 40px;
  }

  .h_img {
    padding-left: 30px;
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 365px) {
  .h_img-wrap {
    height: 260px;
    width: 260px;
    margin-bottom: 40px;
  }

  .h_img {
    padding-left: 30px;
    height: 260px;
    width: 260px;
  }
}

@media (max-width: 991.98px) {
  .intro_sec .text,
  .intro_sec .h_bg-image {
    width: 100%;
  }
}

.intro_sec .intro {
  max-width: 450px;
  margin: 0 auto;
}

@media (max-width: 991.98px) {
  .intro_sec .intro {
    max-width: 700px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.intro_sec .intro .feature .wrap-icon {
  background: 0 0 !important;
  width: auto;
  height: auto;
  margin-bottom: 0;
}

.intro_sec .intro .feature .wrap-icon svg {
  color: #5cccc9;
}

.intro_sec .text h1 {
  font-size: 30px;
  margin-bottom: 50px;
  font-weight: 700;
}

.intro_sec .text h3 {
  font-size: 16px;
  font-weight: 700;
}

.intro_sec .h_bg-image {
  background-size: cover;
  background-position: center;
  min-height: 700px;
  position: relative;
}

.intro_sec .h_bg-image .block {
  bottom: 50vh;
  max-width: 220px;
  padding: 30px;
  left: -110px;
  position: absolute;
  width: 250px;
  height: 220px;
  border-radius: 100%;
  /* mix-blend-mode: multiply; */
  background-color: #2f514e;
  /* z-index: 9999999999; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 991.98px) {
  .intro_sec .h_bg-image {
    height: 600px;
    min-height: 65vh;
    margin: 120px 0 30px 30px !important;
  }
  .intro_sec .avatar-container {
    margin-top: 120px;
    margin-left: 42px;
  }
}

.intro_sec .h_bg-image {
  filter: saturate(0.9);
}
