.nav-link {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  color: var(--primary-white);
  margin-right: 1rem;
  border-top: 3px solid transparent;
  font-size: 1.8rem !important;
}

.navbar {
  top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-link {
  color: #fff !important;
}

.nav-link.active,
.nav-link:focus,
.nav-link:hover {
  border-top-color: var(--pc2-rgb);
}
.navbar {
  background-color: var(--bg-color) !important;
  padding: 0 !important;
}

.nav-container .container {
  background-color: transparent !important;
}
