.nav-link {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  color: var(--primary-white);
  margin-right: 1rem;
  border-top: 3px solid transparent;
}

.navbar {
  top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-link {
  color: #fff !important;
  font-size: 1.2rem !important;
}

.nav-link.active,
.nav-link:focus,
.nav-link:hover {
  border-top-color: var(--primary-white);
}
.navbar {
  background-color: rgb(8, 7, 7) !important;
}
